h1, h2, h3, h4, h5, h6 {
	clear: both;
  font-family: $font__display;
  font-weight: normal;
  line-height: 1;
  margin-top: 0;
  text-transform: uppercase;

  a {
    &:link,
    &:visited {
      text-decoration: none;
    }
    &:hover,
    &:focus,
    &:active {

    }
  }
}
