h1, h2, h3, h4, h5, h6 {
	clear: both;
  font-family: $font__display;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 1.5em;
  text-transform: uppercase;

  a {
    &:link,
    &:visited {
      border: 0;
    }
    &:hover,
    &:focus,
    &:active {

    }
  }
}
