$font__main: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font__display: 'Helvetica Neue', 'Helvetica', 'Arial', serif;
$font__logo: 'Helvetica Neue', 'Helvetica', 'Arial', serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__size-extraextralarge: 3rem; // 48pt
$font__size-extralarge: 2.25rem; // 36pt
$font__size-large: 1.5rem; // 24pt
$font__size-medium: 0.9375rem; // 15pt
$font__size-small: 0.75rem; // 12pt
