.site-footer {
  margin-top: 4rem;
  font-size: $font__size-alpha;
  width: 100%;
  @include clearfix;
}

/*
 * Copyright
 */
.site-footer__copyright {

}

/*
 * Headings
 */
.site-footer__heading {
  font-size: $font__size-alpha;
}

/*
 * About text
 */
.site-footer__text {
  margin-bottom: 4rem;

  @include mappy-bp(medium) {
    float: left;
    padding-right: 2rem;
    width: 50%;
  }

  @include mappy-bp(large) {
    width: 33.3333333%;
  }
}

/*
 * Instagram feed
 */
.site-footer__instagram-wrapper {
  margin-bottom: 4rem;

  @include mappy-bp(medium) {
    float: left;
    padding-left: 2rem;
    width: 50%;
  }

  @include mappy-bp(large) {
    width: 66.6666666%;
  }
}
.site-footer__instagram-feed {
  border-left: 0.125rem solid black;
  border-top: 0.125rem solid black;
  @include clearfix;
}
.site-footer__instagram-feed img {
  border-right: 0.125rem solid black;
  border-bottom: 0.125rem solid black;
  float: left;
  max-width: 33.3333333%;
  padding: 0.5rem;

  @include mappy-bp(large) {
    max-width: 20%;
    padding: 1rem;
  }
}
