.site-header {
  margin-bottom: 2rem;

  @include mappy-bp(medium) {
    margin-bottom: 4rem;
  }
}

.site-title {
  font-family: $font__logo;
  line-height: 0.75;
  margin: 0 0 0.75rem;
  text-transform: uppercase;
  text-indent: -0.15rem;

  @include mappy-bp(small) {
    text-indent: -0.3rem;
  }

  @include mappy-bp(medium) {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    text-indent: -0.3rem;
  }

  @include mappy-bp(large) {
    margin-bottom: 2rem;
    text-indent: -0.45rem;
  }

  a:link,
  a:visited {
    background-color: transparent;
    border: 0;
    // color: $color__link;
  }
  a:hover,
  a:active {
    color: $color__link;
  }
}

.site-description {
  font-size: $font__size-bravo;
}
