/**
 * General post and page stuff
 **/

.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.post {
  font-size: $font__size-bravo;
  margin-bottom: 4rem;
}

.attachment-post-thumbnail {
  margin-bottom: 2rem;
}

/**
 * Title on index pages
 **/

.entry-title{
  font-size: $font__size-delta;

  @include mappy-bp(medium) {
    font-size: $font__size-echo;
    margin-top: -0.25rem;
  }

  @include mappy-bp(large) {
    font-size: $font__size-foxtrot;
    margin-top: -0.4375rem;
  }
}

/**
 * Date and tags
 **/

.entry-tags {
  list-style: none;
  margin: 0 0 2rem;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 0.5rem;
  }
}

/**
 * Content on index and article pages
 **/

.entry-content {

  p:first-of-type {
    margin-top: 0;
  }
}

/**
 * Article pages
 **/

.entry-content {

  p,
  img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  @include mappy-bp(large) {
    font-size: $font__size-charlie;
  }
}

.wp-caption {
  width: 100% !important;
}

.wp-caption .wp-caption-text {
  font-size: $font__size-alpha;
  margin-bottom: 2rem !important;
}

/**
 * Post navigation
 **/

.post-navigation {
  font-size: $font__size-bravo;
  margin-bottom: 4rem;
  padding-bottom: 2rem;

  @include mappy-bp(medium) {
    margin-bottom: 0;
  }

  .nav-previous::before {
    content: 'Previous article ';
  }

  .nav-next::before {
    content: 'Next article ';
  }

  .nav-links div {
    margin-bottom: 2rem;
  }
}
