.wp-caption {
  margin-bottom: 2rem;
  max-width: 100%;
  width: 100% !important;

  img[class*="wp-image-"] {
    @include center-block;
  }

  .wp-caption-text {
    font-size: $font__size-alpha;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
  }
}
