a {
  border-bottom: 0.125rem solid $color__link;
	color: $color__link;
  text-decoration: none;
  transition: color 200ms ease, border-color 200ms ease, background-color 200ms ease;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
    // background-color: $color__link-hover;
    border-color: $color__link-hover;
		color: $color__link-hover;
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
